/* Front page */

.front-page {
  .banner {
    background: url("../../assets/images/hero-bread.jpg")
    no-repeat center top;
    margin: 0 auto;
    text-align: center;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .banner-text {
      color: white;
      font-family: $font__accent, serif;
      font-size: 6rem;
      text-transform: uppercase;
      text-shadow: 2px 1px 2px rgba(100,100,100,.75);
    }
  }

  .product-information {

    .product-type {
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: 0;
      margin: 0 0 2rem;

      .product {
        width: 22%;
        margin-top: 3rem;

        img {
          display: block;
          width: 80%;
          margin: 0 auto;
        }

        h3 {
          text-align: center;
          margin-bottom: 1rem;
          font-size: 1.3rem;
          text-transform: uppercase;
          font-family: $font__accent;
        }

        p {

          a {
            color: $color_red;
            text-decoration: none;
          }

          a:hover {
            text-decoration: underline;
            color: #861618;
          }
        }
      }
    }
  }

  .see-our-products {
    margin-bottom: 3rem;
    padding: 1.5rem;
    background-color: #fafafa;
    border: 1px solid #e1e1e1;

    .our-products-link{
      display: flex;
      justify-content: space-around;

      p {
        margin: 0;
        line-height: 2.5;
      }

      .product-btn {
        background-color: $color_brn;
        text-decoration: none;
        color: white;
        padding: 0.75rem 1.5rem;
        line-height: 1;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
      }
    }
  }

  .latest-news {
    background-color: #fafafa;
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
    padding: 3rem 0;
    margin-bottom: 3rem;

    div {

      .news-heading {
        text-transform: uppercase;
        color: $color_dkgr;
        font-family: $font__accent;
        font-size: 1.8rem;
        margin-bottom: 2.25rem;
        text-align: center;
      }

      .news-container {
        list-style: none;
        display: flex;
        justify-content: space-between;
        margin: 0 0 1.5rem 0;
        padding: 0;
        box-shadow: 0 0 3px rgba(100,100,100,.25);

        .news {
          max-width: 25%;
          background-color: white;
          border: 1px solid #e1e1e1;

          .thumbnail-wrapper {
            height: 200px;
            overflow: hidden;
            position: relative;

            img {
              max-width: none;
              position: absolute;
              -webkit-transform: translate(-50%, -50%);
              -moz-transform: translate(-50%, -50%);
              -ms-transform: translate(-50%, -50%);
              -o-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
              top: 50%;
              left: 50%;
            }
          }

          .blog-info {
            padding: 0.75rem;

            h3 {
              overflow: hidden;
              -ms-text-overflow: ellipsis;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 1rem;
              margin: 0 0 .25rem;

              a {
                color: grey;
                text-decoration: none;
              }
            }

            p {
              margin: 0;
              font-size: 0.9rem;
              color: #a1a1a1;
            }
          }
        }
      }
    }
  }
}