/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Global */
.container {
  width: 1024px;
  margin: 0 auto;
}


/* Front page */


.banner {
  background: url("../../assets/images/hero-bread.jpg")
  no-repeat center top;
  margin: 0 auto;
  text-align: center;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .banner-text {
    color: white;
    font-family: $font__accent, serif;
    font-size: 6rem;
    text-transform: uppercase;
  }

}
