.testimonial-archive {

  img {
    height: 100px;
    width: 100px;
  }

  a {
    color: $color_red;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    color: #861618;
  }

}