// Structure

$base__space-unit: 1.5em;

// Colors

$color__background-body: #fff;
$color__text-main: #404040;

$color__background-screen: #f1f1f1;
$color__text-screen: #21759b;

$color__background-hr: #ccc;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__border-abbr: #666;

$color__link: royalblue;
$color__link-visited: purple;
$color__link-hover: midnightblue;

//The HEX code for the red brand colour is #db272a
//The HEX code for the brown brand colour is #400c0d
//The HEX code for the light grey brand colour is #a1a1a1
//The HEX code for the medium grey brand colour is #808080
//The HEX code for the dark grey brand colour is #333333
//The HEX code for the near black brand colour is #222222


$color_red_brand: #db272a;
$color_brn_brand: #400c0d;
$color_ltgr_brand: #a1a1a1;
$color_mdgr_brand: #808080;
$color_dkgr_brand: #333;
$color_nblk_brand: #222;




// Typography

$font__main: sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.5;
$font__line-height-pre: 1.6;

$font__accent: "overlock";
