/* Search Results */
.search-results {

  h2 {
    line-height: 1.3;
    margin: 0;
  }

  .page-header {
    font-family: $font__accent;
    text-transform: uppercase;
    margin: 0 0 1.5rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px dashed #d2d2d2;

    .page-title {
      font-size: 2.1rem;
      margin: 0;
    }
  }

  article {
    margin: 0 0 4.5rem;

    .entry-title {
      font-family: $font__accent;
      font-size: 1.8rem;
    }

    .entry-summary {

      a {
        font-weight: bold;
      }
    }
  }
}