.testimonial-archive {

  .testimonial-header {
    padding-bottom: 1.5rem;
  }

  .testimonial-header, .testimonial-item {
    border-bottom: 1px dashed #d2d2d2;
    margin-bottom: 1.5rem;
  }

  .testimonial-title {
    text-transform: uppercase;
    font-family: $font__accent;
    font-size: 2.1rem;
    margin: 0;
  }

  .head-shot {
    height: 100px;
    width: 100px;
    margin-right: 1.5rem;
  }

  .testimonial-item {
    display: flex;
    align-content: flex-start;
  }

  .customer-name {
    font-family: $font__accent;
    color: $color_mdgr;
    font-size: 1.8rem;
    margin: 0 0 .25rem;
    line-height: 1.25;
  }

  p {
    margin-top: 0;
  }
}